@use 'variaveis' as vars;

.hero {
    padding: 4.48vw;
    min-height: 64vh;
    background-image: url(../images/hero_desktop.jpeg);
    background-size: cover;

    @media (max-width: 768px) {
        background-image: url(../images/hero_celular.jpeg);
        padding-top: calc(50vw + 25px);
        background-size: contain;
        background-repeat: no-repeat;
        margin-top: -75px;
    }

    .button {
        margin-top: 1.6vw;
        margin-bottom: 6.4px;
    }

    &__content {
        max-width: 512px;
        text-align: center;

        &__branding {
            max-width: 256px;
            margin: 0 auto 30.4px;

            @media (max-width: 768px) {
                max-width: 144px;
            }
        }

        .title--small {
            margin-bottom: 51.2px;
        }

        p {
            margin-bottom: 16px;

            &:last-child {
                margin-top: 48px;
            }
        }

        &__combos {
            display: flex;
            justify-content: space-between;

            @media (max-width: 768px) {
                display: block;
            }

            &__combo {
                width: calc(52% - 33.6px);

                @media (max-width: 768px) {
                    width: 100%;
                    margin-bottom: 11.2px;
                }

                img {
                    max-height: 48px;
                }
            }
        }
    }
}
