$corDeFundo: #040714;
$corTextoPrincipal: silver;
$corTextoSecundario: #f9f9f9;
$corFundoBtn: #6421ff;
$corFundoBtnSecundario: #0063e5;
$corFundoBtnDark: #000;
$corFundoItem: #13151d;
$corBranco: #fff;